
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fb605b;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100svh;
    background: #fff;
    background: radial-gradient(circle, #fff 50%, #ffebdd 75%, #f9d4e4 90%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    max-width: 25rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    background: #fff;
    box-shadow: 0 0 15px 2px #f9d4e4;
    border-radius: 3rem;
}

#gif {
    width: 95%;
    margin: 1rem 0;
}

.btn-wrapper {
    height: 3rem;
}

button {
    position: absolute;
    cursor: pointer;
    width: 7rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1.5px solid #fb605b;
    background-color: #fffdfa;
    font-size: 1rem;
    font-weight: 600;
}

#yes-btn {
    margin-left: -7.5rem;
    background-color: #fb605b;
    color: #fff;
}

#no-btn {
    margin-left: 0.5rem;
}

.links {
    position: fixed;
    text-align: center;
    bottom: 1rem;
}

.links a {
    color: #99a;
    text-decoration: none;
    font-size: 0.7rem;
}
